<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>A Pen by  Tuan</title>
    
    
    
    
        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    <html lang="en" ng-app="StarterApp">
  <head id="top">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
  </head>
          <span flex></span>
          <div id="cv" class="instaFade">
    <img src="https://uvmbvg.bn1301.livefilestore.com/y3mg12SwrksWUTUkDW8PYfz8HQAmcUIQL3j9PhMmNHaOMqVxrw1eoF9vbK5vVRQtDgACm1lagu_Uldwy9kq96Ugsoo8DA8Ov2z2l3vhCdfW_tBGuGztR7z1LKHDvYu7vfyJJVfy0wzLUBZ7sPWxjA8q43zyX47zI58Tf7H5ust6Jfo?width=809&height=217&cropmode=none">
    <div class="sectionTitle2">
    </div>
        
        <div class="sectionTitle2">
        <md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
          <md-tab id="tab1" aria-controls="tab1-content">
            <a href="#contactDetails">INTRODUCE</a>
          </md-tab>
          <md-tab id="tab2" aria-controls="tab2-content">
           <a href="#mainArea">INFORMATIONS</a>
          </md-tab>
          <md-tab id="tab3" aria-controls="tab3-content">
            <a href="#Skill">SKILLS</a>
          </md-tab>
          <md-tab id="tab4" aria-controls="tab4-content">
            <a href="#Hobbies">HOBBIES</a>
          </md-tab>    
          <md-tab id="tab5" aria-controls="tab5-content">
            <a href="#Contact">CONTACT</a>
          </md-tab>      
        </md-tabs>
      </div>
            <div class="mainDetails">
      <div id="headshot" class="quickFade">
        <img src="https://icbg0a.bn1301.livefilestore.com/y3mAXvd4M6oqUzpuQxHbT2mXK5N5eKEUy1t2BmXiRPtAzBqRtpWv0nTUVM_IAfy4uiJSokBGHPqoF99EgaXGkYfERjLPuwNdnSk9KRKCuQ-vvi6qYPhPQwvlvF0I15qD4CIcLCAHp20ezRVPEoJ7ljsoveVuIPr-X3I01llDfxBcyM?width=636&height=636&cropmode=none" alt="Luong Tuan" />
        
      </div>
      <div id="contactDetails" class="quickFade delayFour">
        <ul>
          <p>Liên hệ với tôi: </p>
          <p>Name: Lương Hoàng Tuấn </p>
          <p>Date of birth: 31/10/1995 </p>
          <p>Email: tuan.blf4@gmail.com </p>
          <p>Address: 40/15 Hiệp Nhất, Phường 4, Tân Bình </p>
          <p>Mobile: 01636363778 </p>
          <p><a href="https://www.facebook.com/tuanblf4">Facebook</a> </p>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
            <div id="mainArea" class="quickFade delayFive">
          <div class="sectionTitle">
            <h1>Personal Profile</h1>        
            <p>Tôi tên là Lương Hoàng Tuấn hiện đang theo học ngành Công Nghệ Thông Tin tại trường ĐH Khoa Học Tự Nhiên - TPHCM. Năm nay tôi 21 tuổi, là sinh viên năm 3. Tôi là một người yêu thích lập trình, thích sáng tạo và ham học hỏi. Sở thích của tôi là chơi thể thao, đi du lịch. Hiện tại tôi đang cố gắng tốt nghiệp và theo một ngành liên quan đến phát triển phần mềm.</p>
          </div>
        <div class="sectionTitle">
          <h1>Work Experience</h1>
            <h2>Nhân viên phục vụ</h2>
            <p class="subDetails">2011</p>
            <p>Làm nhân viên phục vụ tại 1 quán cafe khi đang là học sinh cấp 3.</p>

          
            <h2>Nhân viên phát triển phần mềm</h2>
            <p class="subDetails">2014 - nay</p>
            <p>Làm 1 nhân viên phát triển phần mềm của nhóm phát triển phần mềm di động Super Cool App                                                                                                                                                                                                                                                    </p>     
        </div>
        <div class="sectionTitle">
          <h1>Education</h1>
            <h2>Đại học Khoa Học Khoa Học Tự Nhiên TPHCM</h2>
            <p class="subDetails">2013 - nay</p>
            <p>Sinh viên trường Đại học Khoa Học Khoa Học Tự Nhiên TPHCM khoa Công Nghệ Thông Tin
          </p>
      </div>
        <div class="clear"></div>      
    </div>     
    <div id="Skill" class="sectionTitle2">
            
  </div>
      <div class="sectionTitle3">
        <h1>Skills</h1>
          <div class="skill">
            <h2>HTML</h2>
            <div class="rating-bar">
              <div class="rate-8">
                <span class="animate blue"></span>
              </div>
            </div>
          </div>
          <div class="skill">
            <h2>CSS</h2>
            <div class="rating-bar">
              <div class="rate-10">
                <span class="animate red"></span>
              </div>
            </div>
          </div>
          <div class="skill">
            <h2>jQuery</h2>
            <div class="rating-bar">
              <div class="rate-7">
                <span class="animate blue"></span>
              </div>
            </div>
          </div>
        <div class="skill">
            <h2>C#</h2>
            <div class="rating-bar">
              <div class="rate-9">
                <span class="animate yellow"></span>
              </div>
            </div>
          </div>
        <div class="skill">
            <h2>C++</h2>
            <div class="rating-bar">
              <div class="rate-7">
                <span class="animate pink"></span>
              </div>
            </div>
          </div>
        <div class="skill">
            <h2>Java</h2>
            <div class="rating-bar">
              <div class="rate-8">
                <span class="animate orange"></span>
              </div>
            </div>
          </div>
        <div class="skill">
            <h2>English</h2>
            <div class="rating-bar">
              <div class="rate-9">
                <span class="animate brown"></span>
              </div>
            </div>
          </div>
        <img src="https://9t1cjw.bn1301.livefilestore.com/y3mBMPVz3WAVOsEfRcS0oRezXMD-nspj6JZ-C9zwrUcg2OdYBeD5MAowtQ-d4cZKqePHfTUgiHxi263FERix4IrMFXpgy33lW79Xdx_icXkII2SXFcv0hRZnarwOo_KPN6KX0B4xornh_5DCi11wnxeNnE0awszduRTu31bYs7rLk8?width=774&height=693&cropmode=none">        
  </div>
     <div id="Hobbies" class="sectionTitle3">
       <h1>Hobbies</h1>
       <p><img src= https://fppzog.bn1301.livefilestore.com/y3mUtKuaZ0DJ20YzSGuJpbF1WFrKBhSdhlKmkAAkE0wxQG8vEtXQnHUlDF--x5ngmHReReu2lNaHEIxNHR9YjABPbYe97ClsP3J5TKl8pWvearsGhOk_no9_Faz9m_X6jWsSIvHRDORWK1F0mdQP-nKoC32tOM3wIrrh4A7Udgqkdo?width=604&height=153&cropmode=none></p>
            </div>
            
     <div id="Contact" class="sectionTitle3">
       <h1>Contact</h1>
        <div class="col-lg-12 col-md-12 col-sm-12" ng-controller="ContactController">
  
    
  <form role="form" name="contactForm">
    <div class="form-group" ng-class="{error: contactForm.name.$invalid}">    
    <input class="form-control" type="text" name="name" ng-model="user.name" required="required" placeholder="Your name">

    </div>
    <div class="form-group" ng-class="{error: contactForm.email.$invalid}">
     
      <input class="form-control" type="email" name="email" ng-model="user.email" required="required" placeholder="Your email address">
      
    </div>
    <div class="form-group" ng-class="{error: contactForm.message.$invalid}">
     
      <textarea class="form-control" rows="5" name="message" ng-model="user.body" required="required" placeholder="Your messsage"></textarea>
      
    </div>
    <input type="submit" class="btn btn-primary btn-lg btn-block" ng-click="send()" ng-disabled="contactForm.$invalid"/>
  </form>
</div>
  
    </div>
    <!-- Angular Material Dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
    
    <script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script> 
  </body>
</html>
    
        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
